# PAC 2 - VISUALITZACIÓ DE DADES

### Gisela Claret Tortajada

## Peace agreements database - Exploració de dades

## 1. Introducció

En aquest document es presentarà el codi utilitzat per dur a terme l'exploració de les dades proporcionades per la PAC 2 de l'assignatura Visualització de dades. Les dades han estat extretes de la web: https://www.peaceagreements.org/search i consta d'un conjunt de dades dels acords de pau de tot el món des del 1990 fins a mitjans del 2020. En aquesta PAC ens centrarem únicament amb els acords de pau referents als drets de les dones.

## 2. Càrrega i exploració de les dades

In [2]:
# Carreguem les llibreries necessàries

import pandas as pd
from pandas import ExcelWriter
from pandas import ExcelFile

In [4]:
df = pd.read_excel('pax_all_agreements_data.xlsx')

print("Column headings:")
print(df.columns)

Column headings:
Index(['Con', 'Contp', 'PP', 'PPName', 'Reg', 'AgtId', 'Ver', 'Agt', 'Dat',
       'Status',
       ...
       'TjRep', 'TjRSym', 'TjRMa', 'TjNR', 'ImUN', 'ImOth', 'ImRef', 'ImPK',
       'ImE', 'ImSrc'],
      dtype='object', length=266)

In [32]:
df.count()

Con       1868
Contp     1868
PP        1868
PPName    1868
Reg       1868
          ...
ImOth     1868
ImRef     1868
ImPK      1868
ImE       1868
ImSrc     1868
Length: 266, dtype: int64

In [14]:
#Ens quedem solament amb les columnes desitjades: 

df_Woman = df[["Con", "Contp", "Reg", "Dat", "Stage", "Loc1ISO", "Loc2ISO", "GeWom"]]

In [16]:
df_Woman.head()

,Con,Contp,Reg,Dat,Stage,Loc1ISO,Loc2ISO,GeWom
0,Afghanistan,Government/territory,Europe and Eurasia,2019-07-08,Pre,AFG,NaN,1
1,Afghanistan,Government,Europe and Eurasia,2016-09-22,SubPar,AFG,NaN,1
2,Afghanistan,Government,Europe and Eurasia,2014-09-21,Imp,AFG,NaN,1
3,Afghanistan,Government,Europe and Eurasia,2012-07-08,Imp,AFG,NaN,1
4,Afghanistan,Government,Europe and Eurasia,2011-12-05,Pre,AFG,NaN,1

In [55]:
# Observem quin tipus de dades són:
Woman = df_Woman.loc[:, 'GeWom'] == 1

df_W = df.loc[Woman]


df_W
df_W["Contp"].value_counts()

Government              182
Government/territory    140
Inter-group              46
Territory                 3
Name: Contp, dtype: int64

In [56]:
# Observem quin tipus de dades són:

df_W["Reg"].value_counts()

Africa (excl MENA)              171
Asia and Pacific                 72
Europe and Eurasia               45
Americas                         40
Middle East and North Africa     39
Cross-regional                    4
Name: Reg, dtype: int64

In [57]:
# Observem quin tipus de dades són:

df_W["Stage"].value_counts()

SubPar     139
Pre         67
Imp         65
SubComp     64
Cea         36
Name: Stage, dtype: int64

In [59]:
# Observem quin tipus de dades són:

df_Woman["GeWom"].value_counts()

0    1497
1     371
Name: GeWom, dtype: int64

In [28]:
df_Woman.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1868 entries, 0 to 1867
Data columns (total 8 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Con      1868 non-null   object
 1   Contp    1868 non-null   object
 2   Reg      1868 non-null   object
 3   Dat      1868 non-null   object
 4   Stage    1868 non-null   object
 5   Loc1ISO  1833 non-null   object
 6   Loc2ISO  246 non-null    object
 7   GeWom    1868 non-null   int64
dtypes: int64(1), object(7)
memory usage: 116.9+ KB

In [47]:
df_Woman["Con"].value_counts()

Bosnia and Herzegovina/Yugoslavia (former)                       133
Colombia                                                         128
Philippines/Mindanao                                             126
Syria                                                             93
Nepal                                                             51
                                                                ...
Macedonia/Yugoslavia (former)                                      1
Ethiopia                                                           1
India/Manipur                                                      1
India/Assam                                                        1
France/Germany/Russia/United Kingdom/United States of America      1
Name: Con, Length: 170, dtype: int64

In [30]:
# A continuació exportem aquest dataframe per tal de realitzar les visualitzacions amb tableau:

df_Woman.to_excel(r'dades_genere.xlsx', index = False)